body {
  padding: 50px;
  font: 14px "Futura", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  background: #fceadb;
  display: block;
  margin: 0 auto;

  }

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Futura;
}
